/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #58be4b;
  padding: 1rem;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 2rem;
  display: block;
  padding: 1rem;
  background-color: #978baa;
  opacity: 0.9;
  color: #c23c3c;
  text-decoration: solid ;

}

#course-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: grid center;
  gap: 2rem;
  list-style: none;
  padding: 2px;
  margin: 0;
  background-color: aqua;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 10px;
    margin: 0 auto;
}

/* Main Content */
main {
  max-width: 800px;
  margin: 0 auto 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.75rem;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  margin-top: 2rem;
}
